<!doctype html>
<html>
<head>
<meta charset="UTF-8">
<title>Untitled Document</title>
<link href="css/grid.css" rel="stylesheet" type="text/css">
<link href="css/layout.css" rel="stylesheet" type="text/css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
</head>

<body>
	
	<div class="buttons">

		Nav Bar Button Components: </br>

		<img src="img/findastore.png" alt="Find a Store"> </br>

		<img src="img/signin.png" alt="Sign In"> </br>

		<img src="img/joinnow.png" alt="Join Now"> </br>

	</div>


	<div style="max-width: 1000px; width: 100%">

		Block Components:

		<div class="block1">
			<img src="img/lavendarmatcha.jpeg" alt="Lavendar Matcha"/>
				<div class="block1text">
				<span class="block1title">Lavendar Meets Matcha</span></br>
				Try the new Iced Lavendar Cream Oatmilk Matcha, featuring dairy cold foam with subtle floral notes. </br>
			<img src="img/order.png" alt="Order">
		</div>
		</div>

		<div class="block2">
			<img src="img/cashback.jpg" alt="Cash Back"/>
				<div class="block2text">
				<span class="block2title">Earn Cash Back and Bonus Stars</span></br>
				Enjoy 2% Cash Back and Bonus Stars on qualifying in-app purchases by linking an eligible Bank of America debit or credit card to your Starbucks Rewards account. </br>
			<img src="img/start.png" alt="Start">
		</div>
		</div>

		<div class="block3">
			<img src="img/coffee.jpg" alt="Coffee"/>
				<div class="block3text">
				<span class="block3title">Positively Delicious</span></br>
				Go for a nondairy pick-me-up with 150 calories or less in a grande. Choose the new Hazelnut Oatmilk Shaken Espresso or classic Brown Sugar Oatmilk Shaken Espresso. </br>
			<img src="img/order.png" alt="Order">
		</div>
		</div>
	
	
	</div>
	
</body>
</html>
